---
import Section from "../Section.astro";
import { certificates } from "@cv";
---

<Section title="Certifications">
  <section class="flex flex-col gap-4">
    {
      certificates.map(({ name, url, issuer, date }) => (
        <article class="w-full flex justify-between items-start gap-2">
          <div class="">
            <h3 class="h3">
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                title={`View ${name} certification`}
                class="text-[#111]"
              >
                {name}
              </a>
            </h3>
            <p>{issuer}</p>
          </div>
          <p class="text-right w-1/4">{date}</p>
        </article>
      ))
    }
  </section>
</Section>
