---
import Section from "../Section.astro";
import { certificates } from "@cv";
---

<Section title="Certifications">
  <div class="container">
    {
      certificates.map(({ name, url, issuer, date }) => (
        <article>
          <div class="">
            <h3>
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                title={`View ${name} certification`}
              >
                {name}
              </a>
            </h3>
            <p>{issuer}</p>
          </div>
          <p class="date">{date}</p>
        </article>
      ))
    }
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  article {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  a {
    color: #111;
  }

  .date {
    text-align: right;
    width: 25%;
  }
</style>
