---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
import World from "@/icons/World.astro";
import Mail from "@/icons/Mail.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
import X from "@/icons/X.astro";

const { name, label, image, email, location, profiles } = basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
  LinkedIn,
  GitHub,
  X,
};

const linkedInd = profiles.find(({ network }) => network === "LinkedIn");
const linkedInUrl = linkedInd?.url;
const printInfo = [email, linkedInUrl].filter(Boolean).join(" • ");
---

<Section>
  <div class="flex flex-row justify-between items-center gap-4">
    <div class="flex flex-col gap-2 pr-8">
      <h1 class="text-[1.8rem] md:text-[2rem]">{name}</h1>
      <h2 class="text-[1.1rem] text-balance font-semibold">{label}</h2>
      <span class="flex items-center gap-1 text-[0.85rem] tracking-tighter">
        <World />
        {city}, {region}
      </span>
      <footer class="print">
        {printInfo}
      </footer>
      <footer class="no-print">
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Send email to ${name} via ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Mail />
            </a>
          )
        }
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network];

            return (
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                title={`View ${name} profile at ${username}`}
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure>
      <img
        src={image}
        alt={name}
        class="aspect-square object-cover w-[120px] rounded-2xl"
      />
    </figure>
  </div>
</Section>

<style>
  h2,
  span,
  a {
    color: #444;
  }

  footer {
    color: #555;
    font-size: 0.65rem;
    display: flex;
    gap: 4px;
    margin-top: 0.5rem;
  }

  footer a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    background-color: #eee;
    border: 1px solid #ddd;
  }
</style>
