---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
import World from "@/icons/World.astro";
import Mail from "@/icons/Mail.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
import X from "@/icons/X.astro";

const { name, label, image, email, location, profiles } = basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
  LinkedIn,
  GitHub,
  X,
};

const linkedInd = profiles.find(({ network }) => network === "LinkedIn");
const linkedInUrl = linkedInd?.url;
const printInfo = [email, linkedInUrl].filter(Boolean).join(" • ");
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <h2>{label}</h2>
      <span>
        <World />
        {city}, {region}
      </span>
      <footer class="print">
        {printInfo}
      </footer>
      <footer class="no-print">
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Send email to ${name} via ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Mail />
            </a>
          )
        }
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network];

            return (
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                title={`View ${name} profile at ${username}`}
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure>
      <img src={image} alt={name} />
    </figure>
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: 500;
    text-wrap: balance;
    color: #444;
  }

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 120px;
    border-radius: 1rem;
  }

  span {
    color: #444;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.85rem;
    letter-spacing: -0.05rem;
  }

  footer {
    color: #555;
    font-size: 0.65rem;
    display: flex;
    gap: 4px;
    margin-top: 0.5rem;
  }

  footer a {
    color: #444;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    background-color: #eee;
    border: 1px solid #ddd;
  }

  @media screen and (max-width: 700px) {
    h1 {
      font-size: 1.8rem;
    }
  }
</style>
