---
import Section from "@/components/Section.astro";
import { projects } from "@cv";
---

<Section title="Projects">
  <ul class="grid gap-4">
    {
      projects.map(({ name, url, description, highlights, isActive }) => (
        <li>
          <article class="p-4 h-full rounded-lg flex flex-col gap-4 border border-[#f2f2f2]">
            <header class="flex-1">
              <h3 class="mb-1">
                <a
                  href={url}
                  target="_blank"
                  rel="noopener noreferrer"
                  title={`Go to demo: ${name}`}
                  class="text-custom-black hover:underline"
                >
                  {name}
                </a>
                {isActive && <span class="text-custom-green">&bull;</span>}
              </h3>
              <p class="text-xs mb-1">{description}</p>
            </header>
            <footer class="flex flex-wrap gap-1 text-[0.6rem]">
              {highlights.map((hightlight) => (
                <span class="rounded-md text-custom-gray bg-custom-white text-[0.7rem] font-medium py-[0.2rem] px-[0.6rem]">
                  {hightlight}
                </span>
              ))}
            </footer>
          </article>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  article p {
    line-height: 1.2;
  }
</style>
